<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>userDetails</title>
  </head>
  <body>
  -->

<% layout('layouts/boilerplate') %>

<div class="card" style="width: 18rem">
  <h5 class="card-header"><%= user.username %></h5>
  <div class="card-body">
    <h5 class="card-title">I am <%= user.name %></h5>
    <p class="card-text">Contact me : <%= user.phone%></p>

    <form action="/users/<%=user._id %>?_method=DELETE" method="POST">
      <button class="btn btn-sm btn-danger">Remove User</button>
    </form>
    <a href="/users/<%=user._id %>/edit">Edit</a>
    <a href="/users">Back</a>
  </div>
</div>

<!--
    </body>
</html>
  -->
